<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <h1>File</h1>
    <main>
        <div class="container">
            <% if (file.isImage) { %>
                <img src="<%= file.url %>" alt="<%= file.name %>" class="img" />
            <% } %>
            <a href="<%= file.url %>" title="<%= file.name %>">Download</a>
        </div>
    </main>
</body>
</html>