<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <h1>File</h1>
    <main>
        <div class="container space-between">
            <% if (error) { %>
                <p class="error-message"><%= error %></p>
                <a href="/" title="Homepage">Go back</a>
            <% } else { %>
                <section class="file-section">
                    <figure>
                        <% if (file.isImage) { %>
                            <img src="<%= file.downloadURL %>" alt="picture" class="img" />
                        <% } %>
                        <figcaption><%= file.name %></figcaption>
                    </figure>
                </section>
                <section class="share-section">
                    <div class="url">
                        <h5>Share URL</h5>
                        <div class="share-url-wrapper">
                            <p id="share-url"><%= file.shareURL %></p>
                            <button class="copy-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M384 96L384 0h-112c-26.51 0-48 21.49-48 48v288c0 26.51 21.49 48 48 48H464c26.51 0 48-21.49 48-48V128h-95.1C398.4 128 384 113.6 384 96zM416 0v96h96L416 0zM192 352V128h-144c-26.51 0-48 21.49-48 48v288c0 26.51 21.49 48 48 48h192c26.51 0 48-21.49 48-48L288 416h-32C220.7 416 192 387.3 192 352z"/></svg>
                            </button>
                        </div>
                    </div>
                    <div class="qr-code-share">
                        <p>Scan QR code to download</p>
                        <div class="qr-code"></div>
                    </div>
                </section>
            <% } %>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script>
        const shareURL = document.querySelector('#share-url');
        const qrContainer = document.querySelector('.qr-code');

        shareURL && new QRCode(qrContainer, shareURL.textContent);

        const copyBtn = document.querySelector('.copy-btn');
        copyBtn.addEventListener('click', e => {
            const copyText = document.querySelector('#share-url');
            navigator.clipboard.writeText(copyText.textContent);
        });
    </script>
</body>
</html>